.app-headerCart {
  position: absolute;
  right: 24px;
  top: 0;
  height: 60px;
}

.app-headerCartButton {
  background: transparent;
  border: none;
  line-height: 60px;
  padding: 0 12px;
  display: inline-block;
  font-size: 24px;
  color: #fff;
}

.app-headerCartCounter {
  position: absolute;
  bottom: 12px;
  right: 0;
  background: #fff;
  color: #000;
  width: 15px;
  height: 15px;
  line-height: 16px;
  font-size: 9px;
  font-weight: 600;
  border-radius: 12px;
  text-align: center;
}

.app-headerCartButton:hover {
  cursor: pointer;
}
